<section class="bg-light" id="codeEditor">
    <div class="container text-center">
        <div class="row">
            <h1>
                <p class="text-black">A simple and didactic Neo Ecosystem optimization framework<br></p>
            </h1>
        </div>
        <hr>
        <div class="row">
            <p class="text-black">NeoOptTests Eco can help you understand, analyse and check robustness of Neo blockchain</p><br>
            <a class="btn-home btn-primary btn-xl sr-button" href="#neoeditor">Get started!</a>
        </div>
    </div>
</section>
<section class="bg-dark text-white" id="services">
    <div class="container">
        <div class="row">
        <div class="col-lg-12 text-center">
            <h2 class="section-heading text-white">Services</h2>
        </div>
        </div>
    </div>
    <hr class="my-4">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3 text-center">
                <div class="service-box mt-5 mx-auto">
                <i class="fa fa-4x fa-pencil-square-o text-white"></i>
                <h3 class="text-white">Statistical indicators</h3>
                <p class="text-white">You can extract current information of your local private net</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 text-center">
                <div class="service-box mt-5 mx-auto">
                <i class="fa fa-4x fa-cogs text-white"></i>
                <h3 class="text-white">Proof of bullet</h3>
                <p class="text-white">You can design your on proof of bullet tests</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="bg-light" id="about">
    <div class="container text-center">
        <div class="row">
            <h1>
                <p class="text-black">Get to know our project and team</p>
            </h1>
        </div>
        <hr>
        <div class="row">
            <p class="text-black">We are doing our best to provide the best experience ever!</p><br>
            <a class="btn-home btn-primary btn-xl sr-button" href="#about">Read more</a>
        </div>
    </div>
</section>
