<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <ol class="breadcrumb">
                <li><a href="../index.html">Home</a>
                </li>
                <li class="active">Opt-tests framework</li>
            </ol>
        </div>
    </div>

    Designer will be able to select some parameters and adapt the way that nodes interact with the blockchain.<br>
    <button type="submit" onClick="setPrivateNetPameter()" id="btnStartTests" style="margin-bottom: 10px;" class="btn btn-success btn-sm">Set blockchain parameters</button><br>


    Different proof-of-bullets parameters will be set here, using inputs. <br>
    Designer will be able to precisely select the combination of TXs and when they will be broadcasted to the nodes. <br>
    <button type="submit" onClick="startExperiments()" id="btnStartTests" style="margin-bottom: 10px;" class="btn btn-success btn-sm">Start tests</button><br>

    The table below will contain basic reports from your experiment.<br>
    <button type="submit" onClick="getTimeReports()" id="btndrawRelayedTXs" style="margin-bottom: 10px;" class="btn btn-success btn-sm">Check time reports</button><br>

    <div id="divTimeReports" class="table-responsive"></div>



</div>
<script>
    var vecRelayedTXs = [];
    // =============================================
    //First examples of using Neon-JS in connection with neo-scan for broadcasting to private net RPC clients
    var NeonA = Neon.default
    const query = Neon.default.create.query()
    var wallet = Neon.wallet
    console.log("query: " + query)
    console.log("wallet: " + wallet)
    var tx = Neon.tx
    console.log("tx: " + tx)
    let tx2 = Neon.default.create.tx({type: 128})
    console.log("tx2: " + tx2)

    const config = {
      name: 'PrivateNet',
      extra: {
        neoscan: NEOSCAN_PATH + '/api/main_net'
      }
    }
    const privateNet = new Neon.rpc.Network(config)
    Neon.default.add.network(privateNet)
    console.log(Neon.settings.networks['PrivateNet'])
    balance = Neon.api.neoscan.getBalance('PrivateNet', "AK2nJJpJr6o664CWJKi1QRXjqeic2zRp8y")
    .then(res => console.log(res))


    const intent = Neon.api.makeIntent({NEO:1,GAS:5000}, 'AK2nJJpJr6o664CWJKi1QRXjqeic2zRp8y')
    console.log(intent) // This is an array of 2 Intent objects, one for each asset
    const configTest = {
      net: 'PrivateNet', // The network to perform the action, MainNet or TestNet.
      url: NODES_CSHARP_PATH,
      address: 'AK2nJJpJr6o664CWJKi1QRXjqeic2zRp8y',  // This is the address which the assets come from.
      privateKey: 'KxDgvEKzgSBPPfuVfw67oPQBSjidEiqTHURKSDL1R7yGaGYAeYnr',
      intents: intent
    }

    Neon.default.sendAsset(configTest)
    .then(res => {
      console.log(res.response)
    })
    .catch(e => {
      console.log(e)
    })

    //END First examples of using Neon-JS in connection with neo-scan for broadcasting to private net RPC clients
    // =============================================

    function buttonRemoveRule(idToRemove){
      if(idToRemove < vecRelayedTXs.length && idToRemove > -1)
      {
          vecRelayedTXs.splice(idToRemove, 1);
          drawRelayedTXs();
      }else{
        alert("Cannot remove rule ID " + idToRemove + " from set of rules with size " + priceAlert.length)
      }
    }

    drawRelayedTXs();
    function drawRelayedTXs(){
    	//Clear previous data
    	document.getElementById("divTimeReports").innerHTML = "";
    	var table = document.createElement("table");
      table.setAttribute('class', 'table');

      var row = table.insertRow(-1);
      var headers1 = document.createElement('div');
      var headers2 = document.createElement('div');
      var headers3 = document.createElement('div');
      var headers4 = document.createElement('div');
      headers1.innerHTML = "<b> ID </b>";
      row.insertCell(-1).appendChild(headers1);
      headers2.innerHTML = "<b> CODE_SEGMENT </b>";
      row.insertCell(-1).appendChild(headers2);
      headers3.innerHTML = "<b> AVG_TIME </b>";
      row.insertCell(-1).appendChild(headers3);
      headers4.innerHTML = "<b> STD_TIME </b>";
      row.insertCell(-1).appendChild(headers4);

      for (i = 0; i < vecRelayedTXs.length; i++) {
          var txRow = table.insertRow(-1);
          //row.insertCell(-1).appendChild(document.createTextNode(i));
          //Insert button that remove rule
          var b = document.createElement('button');
          b.setAttribute('content', 'test content');
          b.setAttribute('class', 'btn btn-danger');
          //b.onclick = function () {buttonRemoveRule();};
          b.setAttribute('value', i);
          //b.onclick = function () {alert(this.value);};
          b.onclick = function () {buttonRemoveRule(this.value);};
          b.innerHTML = i;

          txRow.insertCell(-1).appendChild(b);

          var link=document.createElement("a");
          var urlToGet = neoScanTXBaseURL + vecRelayedTXs[i].tx;
          link.appendChild(document.createTextNode(vecRelayedTXs[i].tx));
          link.href = urlToGet;
          link.target = '_blank';
          link.onclick = urlToGet;
          txRow.insertCell(-1).appendChild(link);

          var input = document.createElement("input");
          //input.setAttribute("type", "hidden");
          input.setAttribute("name", "textNote"+i);
          input.setAttribute("value", vecRelayedTXs[i].note);
          txRow.insertCell(-1).appendChild(input);

          //Check activation status
          var activationStatus = document.createElement('div');
          activationStatus.setAttribute('id', "activationStatus"+i);
          activationStatus.innerHTML = "-";

          $.getJSON(urlToGet, function(result) {
              //console.log(result);
              if(result.txid == "not found" || result.vin == null){
                activationStatus.innerHTML = "<font color=\"blue\">PENDING</font>";
              }else{
                activationStatus.innerHTML = "<font color=\"green\">FOUND</font>";
              }
          }).fail(function (result) {
              activationStatus.innerHTML = "<font color=\"red\">FAILED</font>";
          });

          txRow.insertCell(-1).appendChild(activationStatus);
          //Check activation status ends
    	}//Finishes loop that draws each relayed transaction

      document.getElementById("divTimeReports").appendChild(table);
    }//Finishe DrawRules function


   function updateTXTable(contractMessagesBox){
     var indexRelayedTx = contractMessagesBox.indexOf("relayed TX");
     var relayedTX = "";
     if(indexRelayedTx != -1)
     {
           //relayedTX = $("#contractmessages").text()[indexRelayedTx, 64];
           for(var i = 0; i<64; i++)
                 relayedTX += contractMessagesBox[indexRelayedTx + 11 + i];
           //console.log("Relayed tx is:"+relayedTX);
           //document.getElementById("link2").setAttribute("href",neoScanTXBaseURL + relayedTX);
           vecRelayedTXs.push({tx:relayedTX, note:"Personal tx note"});
           drawRelayedTXs();
     }
   }

</script>
